# shared values for all services

global:
  ioc_group: p99
  location: bl99p
  enabled: true

ioc-instance:
  # useHostNetwork - use host network for IOC - required for Channel Access
  # to work outside of the cluster
  hostNetwork: true
